@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	height: 100vh;
}

html,
body {
	overscroll-behavior-x: none;
}

.flex-end {
	justify-content: flex-end;
}

.u-margin-right-small {
	margin-right: 12px !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
div,
canvas,
span,
input,
table,
li,
ul,
ol,
*,
textarea,
.p-link {
	font-family: 'Montserrat', sans-serif !important;
}

thead {
	text-align: center !important;
}

.p-button-label {
	font-weight: 400 !important;
}

.pi {
	font-family: 'primeicons' !important;
	font-size: 1.1rem;
}

body {
	margin: 0;
	padding: 0;
}

.full-body {
	min-height: 90vh;
	max-height: 90vh;
	overflow-y: scroll;
	background: #e9e9e9;
}

.full-screen {
	min-height: 95vh;
	background: #e9e9e9;
	padding: 1rem;
}

.customer-badge {
	border-radius: 2px;
	padding: 0.25em 0.5rem;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 12px;
	letter-spacing: 0.3px;
}

.customer-badge.status-1 {
	background-color: #c8e6c9;
	color: #256029;
}

.customer-badge.status-0 {
	background-color: #ffcdd2;
	color: #c63737;
}

.card {
	background-color: white;
	padding: 0.5rem 1rem;
}

.p-chips .p-chips-multiple-container {
	width: 100%;
}

// modal light transparent background
:root {
	--maskbg: rgba(0, 0, 0, 0.4);
}

.p-component-overlay-enter {
	animation: p-component-overlay-enter-animation 150ms forwards;
}

.p-component-overlay-leave {
	animation: p-component-overlay-leave-animation 150ms forwards;
}

.p-field-checkbox {
	padding: 10px 0;
}

@keyframes p-component-overlay-enter-animation {
	from {
		background-color: transparent;
	}

	to {
		background-color: var(--maskbg);
	}
}

@keyframes p-component-overlay-leave-animation {
	from {
		background-color: var(--maskbg);
	}

	to {
		background-color: transparent;
	}
}

.p-datatable .p-datatable-tbody>tr.deleted {
	color: red !important;
}

.p-datatable .p-datatable-tbody>tr.error {
	color: rgb(255, 138, 65) !important;
}

.disabled {
	pointer-events: none;
	opacity: 0.4;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

:root {
	--background: rgb(252 252 252);
	--a1: rgba(0 0 0 / 0.05);
	--a2: rgba(0 0 0 / 0.1);
	--foreground: rgb(28 28 29);
	--shadow: 0px 6px 20px rgb(0 0 0 / 20%);

	--unit: 8px;
}

html {
	background: var(--background);
	color: var(--foreground);
}

.enabled {
	border: 1px solid rgb(3, 170, 3);
	padding: 3px 5px;
	color: rgb(29, 104, 29);
}

.disabled {
	border: 1px solid rgb(170, 3, 3);
	padding: 3px 5px;
	color: rgb(104, 29, 29);
}

.p-column-filter-buttonbar button {
	background-color: rgb(76, 175, 80);
	border: 1px solid rgb(76, 175, 80);
}
