.navbar {
    display: flex;
    height: 5vh;
    max-height: 5vh;
    align-items: center;
    background: white;
    padding: 0 1rem;
}

.p-chip.custom-chip {
    background-color: var(--primary-color-text);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.nav-link {
    padding: 0.5rem 0.75rem;
    display: block;
    margin: 0.5rem 0;
    cursor: pointer;
    color: inherit;
    text-decoration: none;
    transition: all 0.2s ease;
}

.active {
    color: var(--primary-color);
    background: rgb(238, 238, 238);
    border-radius: 5px;
    font-weight: 600;
    cursor: auto;
}

.nav-link:hover:not(.active) {
    background-color: rgb(248, 248, 248);
    border-radius: 5px;
}